// Here you can easily change your sites's color scheme.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works.
// If you need a handy color picker try http://hslpicker.com

$main-bg: #fff;
$page-bg: #fff;
$header-bg: #fff;
$title-color:#3EBB96;
$subtitle-color: #3EBB96;
$link-color:#3EBB96;
$link-color-visited: darken(#3EBB96, 25);
$nav-bg: #fff;
$nav-bg-front: none;
$nav-bg-back: $nav-bg;
$nav-border-top: #f2f2f2;
$nav-border-bottom: #f2f2f2;
$nav-color: #3EBB96;
$nav-color-hover: darken(#3EBB96, 25) !default;
$sidebar-bg: #f2f2f2;
$footer-bg: #fff !default;
$footer-bg-front: none;
$footer-bg-back: none;

$noise-bg:none;